* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

main {
  text-align: left;
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 2%;
}

h1 {
  text-align: center;
  border-bottom: 2px solid;
  padding: 20px; 
}

h2 {
  text-decoration: underline;
}

hr {
  border-color: #ffffff;
  border: 2px;
  border-style: solid;
}

.c1 {
  margin-top: 3%;
}